<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>URL Stortster</title>
</head>
<body>
    <div class="container">
    <h1>URL Shortster</h1>
    <form action="" method="POST" class="my-4 form-inline">
    <label for="fullUrl" class="sr-only">URL</label>
    <input required placeholder="Url" type="url" 
    name="fullUrl" id="fullUrl" class="form-control col mr-2">
    <button class="btn btn-success"type="submit">Shorten</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
                <th>Last Access</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <td><a href="https://medium.com/@nat.galbano/developers-community-is-everywhere-f6880b4a554c"></a>
            https://medium.com/@nat.galbano/developers-community-is-everywhere-f6880b4a554c</td>
        <td><a href="/123456"></a>12345</td>
        <td>10</td>
        <td>10 minutes ago</td>
        <td>20/01/20</td>
    </tbody>
    </table>
    </div>
</body>
</html>